<div id='comment-<%= comment.id %>' class="post-comment-item">
  <div class="post-comment-header">
    <span class="post-comment-author">
      <a href="/users/profile?id=<%= comment.user._id %>">
      <% if(comment.user.avtar == undefined){ %>
        <img
        class="rounded-circle comment-avtar" 
        src="https://image.flaticon.com/icons/svg/2154/2154651.svg"
        alt="logo"
      />
        <% }else{%>
          <img
          class="rounded-circle comment-avtar"
          src="<%=comment.user.avtar%>"
          alt="logo"
        />
        <% } %>
      </a>
       <%= comment.user.name %></span>
    <span class="post-comment-time">a minute ago</span>
    <div class="post-actions">
      <button class="post-like no-btn">
        <% if(locals.user) {%>
        <a data-likes="<%= comment.likes.length %>" class="toggle-btn" href="/likes/toggle?id=<%= comment._id %>&type=Comments">
          <% let flag = false %>
            <% for(let like of comment.likes){ %>
            <% if(like.user == locals.user.id){ %>
              <% flag = true  %>
            <% } %>
          <% } %>
           
          <% if(flag) {%>
            <img
              src="https://image.flaticon.com/icons/svg/1076/1076984.svg"
              alt="likes-icon"
            />
          <% } else{%>
             <img
              src="https://image.flaticon.com/icons/svg/1077/1077035.svg"
              alt="likes-icon"
            />
          <% } %>
          <span><%= comment.likes.length %></span>
        </a>
        <%}else{%>
          <img
          src="https://image.flaticon.com/icons/svg/1077/1077035.svg"
          alt="likes-icon"
        />
          <span><%= comment.likes.length %></span>
        <%}%>
      </button>
    </div>
    <% if(locals.user && locals.user.id == comment.user._id){%>
    <button class="delete-btn no-btn">
      <a
        class="delete-comment-btn delete-post-btn"
        href="/comments/delete-comment/<%= comment._id %>"
        ><i class="fas fa-times"></i
      ></a>
    </button>
    <% } %>
  </div>

  <div class="post-comment-content"><%= comment.content %></div>
</div>

