<li id="post-<%= i._id %>">  
    <% if(locals.user && locals.user.id == i.user.id){%>
            <a onclick="deletePost(this)" href="/posts/delete-post/<%= i._id %>"><i class="fas fa-window-close"></i></a>
    <% } %>
     
    <%= i.content %>
<small> <%= i.user.name %></small>

<div class="posts-comments">
    <% if(locals.user){ %>
            <form class="comments-form" action="/comments/add-comment" method="POST">
            <input type="text" name="content" required>
            <input type="hidden" name="post" value="<%= i._id %>">
            <input type="submit" value="Add Comment">
            </form>
    <% } %>
</div>
<div class="post-comments-list">
    <ul id="comments-list-id-<%= i._id %>">
            <% for(comment of i.comments){ %>
                   <%- include("_comments") -%>
            <% } %>
    </ul>

</div>
</li>