
<script src="https://kit.fontawesome.com/90f89e9e87.js" crossorigin="anonymous"></script>

<main>
        <h1>Codeial / Home</h1>

        <section>
                <% if(locals.user){ %>
                <form action="/posts/add-post" method="POST">
                        <textarea name="content" rows="3" cols="30" placeholder="Type Here.." required></textarea>
                        <input type="submit" value="Post">
                </form>
                <% } %>
        </section>

        <section id="posts-container">
                <ul>
                        <% for(i of posts){ %>
                                <li>  
                                        <% if(locals.user && locals.user.id == i.user.id){%>
                                                <a href="/posts/delete-post/<%= i.id %>"><i class="fas fa-window-close"></i></a>
                                        <% } %>
                                         
                                        <%= i.content %></li>
                                <small> <%= i.user.name %></small>

                                <div class="posts-comments">
                                        <% if(locals.user){ %>
                                                <form action="/comments/add-comment" method="POST">
                                                <input type="text" name="content" required>
                                                <input type="hidden" name="post" value="<%= i._id %>">
                                                <input type="submit" value="Add Comment">
                                                </form>
                                        <% } %>
                                </div>
                                <div class="post-comments-list">
                                        <ul>
                                                <% for(comment of i.comments){ %>
                                                        <li>
                                                        <% if(locals.user && locals.user.id == comment.user.id){ %>
                                                                <a href="/comments/delete-comment/<%= comment._id %>"><i class="fas fa-window-close"></i></a>
                                                        <% } %>
                                                         
                                                         <%= comment.content %>
                                                        <%= comment.user.name %></li>
                                                <% } %>
                                        </ul>

                                </div>
                                
                        <% } %>
                </ul>
                

        </section>
</main>
        
      