<link type="text/css" rel="stylesheet" href="/css/home.css">

<main>
        <div id="block"></div>
        <div id="feed-container">
                <h1>Codeial / Home</h1>
                <section>
                        <% if(locals.user){ %>
                        <form id="post-form" action="/posts/add-post" method="POST">
                                <textarea name="content" rows="3" cols="30" placeholder="Type Here.." required></textarea>
                                <input type="submit" value="Post" >
                        </form>
                        <% } %>
                </section>
        
                <section id="posts-container">
                        <ul id="posts-list">
                                <% for(i of posts){ %>
                                        <%- include("_posts") -%>
                                        
                                <% } %>
                        </ul>
                        
        
                </section>
        </div>
        
        <aside>
                <div id="users-list">
                        <h4>Users</h4>
                        <% for(u of all_users){ %>
                                <p>
                                        <a href="/users/profile/<%= u.id %>">
                                        <%= u.name %></a>
                                </p>
                        <% } %>
                </div>
                <% if(locals.user) { %>
                        <div id="friends-list">
                                <h4>Friends</h4>
                                <% for(friends of locals.user.friends){ %>
                                      
                                       <% if(friends.from_user.id == locals.user.id) {%>
                                        <p><%= friends.to_user.name %></p>
                                <%}%>
                                <% if(friends.to_user.id == locals.user.id) {%>
                                        <p><%= friends.from_user.name %></p>
                                <% } %>   
                                
                                <% } %> 
                        </div>
                <% } %> 
                
               
        </aside>

        <%- include("_chat_box") %>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/javascript/chat_engine.js"></script>
<% if(locals.user) {%>
        <script>
        new ChatEngine("user-chat-box" , "<%= locals.user.email %>");
        </script>
<% } %>
<script src="/javascript/home_posts.js"></script>
<script src="/javascript/posts_comments.js"></script>
<script src="/javascript/toggle-likes.js"></script>

